<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dicta ab officiis nihil natus dolore fugiat ratione repellat sint deserunt ad harum modi explicabo recusandae, quia vero eaque veniam. Labore!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, laudantium provident! Omnis repellat nam, neque dolorum at nobis illum accusamus!</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>